:root {
  --theme-blue: #00b3dd;
  --theme-orange: #ff8c00;
  --javascript-yellow: #f7df1e;
  --computer-green: #007700;
  --error: #ff0000;
  --success: #00ff00;
}

html {
  font-family: 'Fira Sans', sans-serif;
}
