@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --tapfuel-blue: #00b3dd;
  --tapfuel-blue-rgb: rgb(0, 179, 221);
  --tapfuel-blue-hsl: hsl(191, 100%, 43%);
  --theme-orange: #ff8c00;
  --javascript-yellow: #f7df1e;
  --javascript-yellow-rgb: rgb(247, 223, 30);
  --javascript-yellow-hsl: hsl(50, 92%, 59%);
  --javascript-yellow-dark: #e6c700;
  --javascript-yellow-dark-rgb: rgb(230, 199, 0);
  --php-purple: #777bb3;
  --php-purple-rgb: rgb(119, 123, 179);
  --php-purple-hsl: hsl(240, 33%, 55%);
  --computer-green: #007700;
  --computer-green-rgb: rgb(0, 119, 0);
  --error: #ff0000;
  --success: #00ff00;
  --vp-local-search-bg: #000;
  --vp-local-search-result-bg: #000;
  --vp-local-search-result-border: #666;
  --vp-local-search-result-selected-bg: #000;
  --vp-local-search-result-selected-border: var(--tapfuel-blue);
  --vp-local-search-highlight-bg: var(--tapfuel-blue);
  --vp-local-search-highlight-text: #fff;
}

html,
.font-family-prose {
  font-family: Georgia, Times, 'Times New Roman', serif;
  text-rendering: optimizeLegibility;
}

header,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
.font-family-heading {
  font-family: 'Franklin Gothic', sans-serif;
}

h1 {
  font-size: 2.25rem;
  font-weight: 700;
}

html {
  font-size: 16px;
}

.bg-js-yellow {
  background-color: var(--javascript-yellow);
}

body {
  margin: 0;
  padding: 0;
  background: radial-gradient(
      circle farthest-corner at 0 -150px,
      hsla(191, 100%, 43%, 100%),
      hsla(191, 100%, 43%, 0%) 23vw
    ),
    radial-gradient(
      circle farthest-corner at 100% 100vh,
      hsl(50, 92%, 59%) 0%,
      #000 23vw
    );
  color: #fff;
}

a,
a:focus,
a:hover {
  text-decoration: underline;
}

img {
  display: inline-block;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#app > header,
#app > footer {
  color: #fff;
  text-shadow:
    0 0 0.5rem #000,
    0 0 0.25rem #000,
    0 0 0.25rem #000;
}

header a[href='/'] {
  text-decoration: none;
}

main {
  background-color: rgba(0, 0, 0, 0.5);
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.6;
  overflow-wrap: break-word;
  word-break: break-word;
}

main td {
  padding: 0.25rem 0.5rem;
  vertical-align: top;
}

main td:first-child {
  word-break: keep-all;
}

main a {
  text-decoration: underline;
}

main a img {
  display: inline-block;
}

h2,
h3 {
  font-weight: bold;
}

main h2 {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

main h3 {
  font-size: 1.5rem;
  margin-top: 2rem;
}

main p,
main table,
main ol {
  margin-top: 0;
  margin-bottom: 1rem;
}

main table,
main table th,
main table td {
  border-width: 1px;
}

main table th,
main table td {
  padding: 0.5rem 1rem;
  vertical-align: top;
}

main blockquote {
  margin: 1rem;
  padding: 0 1rem;
  border-left: 0.25rem solid #666;
}

main hr {
  margin: 1rem 0;
}

main h2 {
  position: relative;
}

main ol {
  list-style-type: decimal;
  list-style-position: inside;
  margin-left: 2rem;
}

.star::before {
  content: '\22C6 ';
}

.hero-action-0,
.hero-action-1,
.hero-action-2 {
  color: #fff;
  text-shadow: 0 0 0.5rem #000;
  box-shadow: 0 0 0.25rem #000 inset;
  text-decoration: none;
}

.hero-action-0 {
  background-color: hsl(0, 90%, 32%);
}

.hero-action-1 {
  background-color: hsl(118, 90%, 20%);
}

.hero-action-2 {
  background-color: hsl(235, 90%, 50%);
}

/** --> Table of contents */
.table-of-contents {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: hsla(0, 0%, 0%, 0.5);
  backdrop-filter: blur(0.5rem);
  border: 1px solid hsla(50, 92%, 59%, 50%);
  font-size: 1.25rem;
  line-height: 1.75;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.table-of-contents li {
  display: inline;
  margin-right: 1rem;
  white-space: nowrap;
}

.table-of-contents ul::after {
  content: '';
  display: block;
  clear: both;
}

@media screen and (min-width: 768px) {
  .table-of-contents {
    margin-top: 0;
    float: right;
    max-width: 20rem;
    margin-left: 2rem;
  }

  .table-of-contents::before {
    display: block;
    font-weight: bold;
  }

  .table-of-contents li {
    display: block;
  }

  .md\:flow-circle {
    border-radius: 50%;
    shape-outside: circle(50%);
  }
}
/** <-- */

#localsearch-list a {
  text-decoration: none;
  font-family: 'Franklin Gothic', sans-serif;
}
